.poem.json
.python.hist
nov-places
eln-cache/
server/
tutorial/
url/
elpa/
semanticdb/
.emacs.desktop
tramp
notes
ido.last
.mc-lists.el
eshell/history
eshell/lastdir
auto-save-list/
bookmarks
recentf
*.elc
newsticker/
custom.el
mspyls/
.dap-breakpoints
.lsp-session*
.org-id-locations
pyim/
transient/
.cache/
